@media screen and (max-width: 576px) {
    *{
        margin: 0;
        padding: 0;
    }

    .navbar,
    .banner {
        flex-direction: column;
        justify-content: center;
    }

    .logo {
        text-align: center;
    }

    .nav-menu ul {
        text-align: center;
        margin: 0px;
        justify-content: center;
        gap: 20px;
        padding-top: 30px;
        padding-left: 60px;
        width: 20%;
    }

    .banner {
        flex-direction: column-reverse;
        justify-content: center;
    }

    .banner-img img {
        align-items: center;
        width: 200px;
        height: auto;
        padding-left: 5px;
    }

    .banner-title {
        text-align: center;
        font-size: 30px;
        font-weight: 700;
        width: 100%;
    }
    .banner-description{
        padding-top: 10px;
        text-align: center;
        width: 100%;
    }
    .btn-main{
        align-items: center;
        margin-left: 10px;
        margin-top: 20px;
    }
    .partner img{

        flex-wrap: wrap
    }
}