@media screen and (max-width: 576px) {
    *{
        margin: 0;
        padding: 0;
    }

    .navbar,
    .banner {
        flex-direction: column;
        justify-content: center;
    }

    .logo {
        text-align: center;
    }

    .nav-menu ul {
        text-align: center;
        margin: 0px;
        justify-content: center;
        gap: 20px;
        padding-top: 30px;
        padding-left: 80px;
        width: 20%;
    }

    .banner {
        flex-direction: column-reverse;
        justify-content: center;
    }

    .banner-img img {
        align-items: center;
        /* width: 202px; */
        height: 190px;
    }

    .banner-title {
        text-align: center;
        font-size: 30px;
        font-weight: 700;
        width: 100%;
        margin: auto;
    }
    .banner-description{
        padding-top: 10px;
        text-align: center;
        width: 100%;
    }
    .btn-main{
        align-items: center;
        margin-left: 30px;
        margin-top: 10px;
    }
}